{% extends 'default.html' %} 


{% block title %}
Posts
{% endblock title %}

{% load static %}

{% block content %}
    <h1> "Статьи" - {{  posts|length  }}</h1>
    <hr>
    <br>
    {% for post in posts %}
    <div id="main">
        <p><img src="{% static 'User.png' %}"> {{  post.user_id  }}</p>
        <h2><a href="post/{{  post.id  }}">{{  post.title  }}</a></h2>
        <p>{{  post.time|date:'M d Y'  }}, {{  post.time|time:"H:i"  }}</p>
        <br>
        <p>{{  post.body|truncatewords:20|safe  }}</p>
        <br>
        <p>Категория: {{  post.category  }}</p>
    </div>
    <br>
    {% endfor %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
